* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(228, 214, 252); /* Light purple background */
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    width: 700px;
    height: auto;
    background-color: #7b3f96; /* Darker purple for the form background */
    display: flex;
    border-style: ridge;
    border-width: 4px;
    border-color: #8e44ad; /* Purple border */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login_pic {
    background-color: #7b3f96;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_img {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    object-fit: cover;
}

.login_container {
    color: white;
    width: 100%;
}

.titre {
    margin-left: 170px;
    margin-top: 20px;
    color: white;
}

.text {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

input {
    width: calc(100% - 20px);
    height: 30px;
    margin-left: 8px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
}

select {
    width: calc(100% - 20px);
    height: 35px;
    margin-left: 8px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
}

button {
    width: calc(100% - 250px);
    height: 35px;
    margin-left: 130px;
    margin-top: 20px;
    background-color: #8e44ad; /* Purple background for button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7b3f96; /* Darker purple on hover */
}

.message_error {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: white;
    background: #e53935;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.menu-link{
    color: white;
    font-size: 16px;
    margin-left: 10px;
    position: relative;
    top: 10px;

}